input {
    padding: 10px;
    background-color: transparent;
    border: solid 1px var(--text);
    color: var(--text);
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-color: var(--button-color);
}

button {
    background-color: var(--button-color);
    color: var(--text);
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    opacity: 0.8;
}

button.a {
    background-color: transparent;
    text-decoration: underline;
}