.list tbody tr {
    cursor: pointer;
}

.list tbody tr:hover {
    background-color: var(--bg-color-2);
}

.listContainer {
    overflow-x: auto;
}

.NavigatePage {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}

.filter {
    padding: 10px 0 20px 0;
    display: flex;
}

.filter input {
    flex: 1;
}

.NewUser {
    padding: 10px 0;
    text-align: right;
}

.finalList {
    display: grid;
    grid-template-columns: 1fr auto;
}