.container {
    min-height: 100%;
    --w:900px;
    display: flex;
    flex-direction: column;
}

.areaPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.area {
    width: var(--w);
    max-width: 100%;
}

.menu {
    display: flex;
    width: var(--w);
    max-width: 100%;
}

.menu a {
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 2px transparent;
    transition: 0.4s;
}

.menu a:hover {
    border-bottom-color: var(--text);
}

.menuPanel {
    display: flex;
    justify-content: center;
    background-color: var(--button-color);
}