:root {
  --bg-color: #333;
  --bg-color-2: #666;
  --text: rgba(255, 255, 255, 0.8);
  --button-color: #07a;
  --red: #500;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
